Section: misc
Priority: optional
Package: MontaPycote
Version: 2.1
Maintainer: Cauê Beloni <cbeloni@gmail.com>
Pre-Depends: python
Architecture: all
Description: Monta pacote para aplicação em banco de dados Oracle.
